* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    letter-spacing: 1.1px;
    user-select: none;
}

:root {
    --black-color: black;
    --white-color: white;
    --light-grey-color: lightgrey;
    --grey-color: grey;
    --primary-color: rgb(0, 147, 245);
    --secondary-color: rgb(0, 119, 199);
    --tertiary-color: #001336;
    --darkest-color: #000e25;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--tertiary-color);
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, .3)
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--darkest-color);
}

main {
    min-height: 100vh;
    background-image: linear-gradient(105deg, var(--tertiary-color) 75%, var(--primary-color) 75%);
}

nav {
    background: hsla(219, 100%, 11%, 0.3);
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    box-shadow: 1px 1px 5px var(--light-grey-color);
    z-index: 1;

    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

label.logo {
    color: white;
    font-size: 30px;
    line-height: 80px;
    font-weight: bold;
    padding: 0 60px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 25px;

}

nav ul li i.fa-solid {
    display: none;
    transition: all .5s;
}

nav ul li a {
    font-size: 22px;
    color: var(--white-color);
    padding: 7px;
    border-radius: 5px;
    position: relative;
}


nav ul li a::after,
nav ul li a::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0 auto;
    height: 3px;
    background: var(--primary-color);
    transform: scaleX(0);
    transition: transform 0.5s;
}

nav ul li a::before {
    bottom: -3px;
    transform-origin: right;
}

nav ul li a::after {
    top: -3px;
    transform-origin: left;
}

nav ul li a:hover::after,
nav ul li a:hover::before {
    transform: scaleX(1);
}

nav ul li a:hover {
    color: var(--white-color);
}

nav ul li a.active::before {
    transform: scaleX(1);
}

.checkbtn {
    font-size: 30px;
    color: var(--white-color);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;

}

@media (max-width:980px) {
    label.logo {
        font-size: 30px;
        padding: 0 40px;
    }

    nav ul li a {
        font-size: 20px;
        padding: 20px 0;
    }

    nav ul li i.fa-solid {
        display: block;
        color: var(--white-color);
        margin-top: 15px;
        transition: all .5s;
        padding: 0 10px;

    }



    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--darkest-color);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        padding: 50px 0;
        z-index: 1;
    }

    nav ul li {
        display: block;
        margin: 40px 0;
        line-height: 0px;
        display: flex;
        justify-content: center;
    }

    nav ul li a {
        font-size: 25px;
    }



    #check:checked~ul {
        left: 0;
    }
}



header {
    height: 82vh;
    width: 100%;
    display: flex;
    color: var(--white-color);
}

header .left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    padding-right: 20px;
    /* border: 2px solid red; */
}

header .left h2 {
    font-size: 180%;
}

header .left h1 {
    font-size: 2.8rem;
    margin: 10px 0;
}

header .left p {
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 1.1px;
    line-height: 33px;
}

header .left button {
    height: 50px;
    width: fit-content;
    background: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    position: relative;
    margin-top: 15px;
    padding: 0 20px;
    font-size: 20px;
    outline: none;
    overflow: hidden;
    cursor: pointer;
}

header .left button::after {
    content: 'Download CV';
    height: 100%;
    width: 100%;
    background: var(--primary-color);
    color: var(--white-color);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .7s;

}

header .left button:hover::after {
    left: 100%;
}

span {
    color: var(--primary-color);
}

header .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    /* border: 2px solid yellow; */
}

header .right img {
    height: 80%;
    margin-left: 30px;
    border-radius: 20px;
    box-shadow: 4px 4px 15px -2px #000e25;
}



/* Color Switcher  */

.color-switcher {
    position: fixed;
    top: 90px;
    right: -220px;
    width: 220px;
    padding: 0px;
    background: var(--darkest-color);
    z-index: 100;
    transition: all .7s ease;
    /* padding: 50px 0; */
    /* border-radius:50% */
}

.color-switcher.active {
    right: 0px;
}

.color-switcher h3 {
    color: var(--primary-color);
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    text-align: center;

}

.color-switcher .switcher-btn {
    position: absolute;
    top: 0;
    left: -55px;
    color: var(--primary-color);
    background: var(--darkest-color);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;

}

.color-switcher .switcher-btn i {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}

.color-switcher .theme-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-switcher .theme-btn-container .theme-btn {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px 5px;
    cursor: pointer;
    margin-right: 20px;
}